@font-face {
  font-family: CaviarDreams;
  src: local('CaviarDreams'), url("CaviarDreams.ttf");
}

*{
  font-family: "CaviarDreams";
  padding: 0;
  box-sizing: border-box;
  margin: 0;
}

body{
  /* background: #000; */
  background: url("../imgs/pattern.jpg");
  min-height: 170vh;
}

header{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align items: center;
  transition: 0.6s;
  padding: 40px 100px;
  z-index: 100000;
}

header.sticky{
  padding: 5px 100px;
  background: #fff;
}

header .logo{
  position: relative;
  font-weight: 700;
  color: #fff;
  text-decoration: none;
  font-size: 2em;
  text-transform: uppercase;
  letter-spacing: 2px;
  transition: 0.6s;
}

header ul{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

header ul li{
  position: relative;
  list-style: none;
}

header ul li a{
  position: relative;
  margin: 0 15px;
  text-decoration: none;
  color: #fff;
  letter-spacing: 2px;
  font-weight: 500px;
  transition: 0.6s;
}

.banner{
  position: relative;
  width: 100%;
  height: 50vh;
  background: #000;
  /* background: url("../imgs/pattern.jpg"); */
  /* background-size: cover; */
}
header.sticky .logo{
  color: #000;
}
header.sticky ul li a{
  color: #000;
}



.outer {
  display: inline-block;
  width: 84%;
  margin-left: 8%;
  margin-right: 8%;
  margin-top: 15%;
}

.box1 {
  text-align: center;
  height: 40vh;
  width: 33%;
  float: left;
  color: white;
  border-radius: 5%;
  
}

.box2 {
  text-align: center;
  height: 40vh;
  width: 33%;
  float: left;
  color: white;
  border-radius: 5%;
 

}

.box3 { 
  text-align: center;
  height: 40vh;
  width: 33%;
  float: left;
  color: white;
  border-radius: 5%;
  
}